:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --accent: #4d5ae5;
  --accent-pressed-state: #404bbf;
  --secondary-white-color: #f4f4fd;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  background-color: var(--primary-bg-color);
}
.address {
  font-style: normal;
}
.white-text {
  color: var(--secondary-white-color);
}
.link {
  text-decoration: none;
}
.site-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent);
}
.site-logo-blue {
  color: var(--main-text-color);
}
.site-logo-white {
  color: #f4f4fd;
}
.list {
  list-style: none;
}
.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.nav-list .link {
  color: var(--main-text-color);
  font-weight: 500;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-pressed-state);
}
.contacts.link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
}

.hero {
  color: #ffffff;
  background-color: var(--secondary-bg-color);
  text-align: center;
}
.section-banner-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.btn-banner {
  font-family: 'Roboto', sans-serif;
  background: var(--accent);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  border: none;
  line-height: 1.5;
  color: #ffffff;
  cursor: pointer;
}
.hero .btn-banner:hover,
.hero .btn-banner:focus {
  background-color: var(--accent-pressed-state);
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
}
.site-footer {
  background-color: var(--secondary-bg-color);
  color: #e7e9fc;
}

.section-team {
  background-color: var(--secondary-white-color);
}
